* {
    font-family: monospace;
}

h1, h2 {
    color: whitesmoke;
}

.center {
    text-align: center;
    margin: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

button {
    padding: 10px;
    color: black;
}

.deals {
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}

.add-form {
    display: flex;
    gap: 20px;
}

.add-form > div {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
}

.add-form > input {
    padding: 10px;
    width: 15%;
}

.deal-display-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(90, 90, 214);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px black;
}

.deal-display-header {
    font-size: 24px;
}

.deals-list {
    display: flex;
    gap: 10px;
}

.deal-list-item {
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    width: 22%;
    padding: 10px;
    background-color: rgb(64, 43, 226);
    box-shadow: 1px 1px 4px black;
    border-radius: 4px;
}