* {
    font-family: monospace;
}

h1 {
    color: aliceblue;
}

.center {
    text-align: center;
    margin: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

button {
    padding: 10px;
}