* {
    font-family: monospace;
}

h1, h2 {
    color: whitesmoke;
}

.center {
    text-align: center;
    margin: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

button {
    padding: 10px;
}

.deals {
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}

.add-form {
    display: flex;
    gap: 20px;
}

.add-form > div {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
}

.add-form > input {
    padding: 10px;
    width: 15%;
}