* {
    font-family: monospace;
}

h1 {
    color: whitesmoke;
}

.center {
    text-align: center;
    margin: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

button {
    padding: 10px;
}

.deals {
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}